# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
pubspec.lock

# Directory created by dartdoc
doc/api/

# I don't want to save database in git
*.db

# Secret things (like hashes and 2FA keys)
secret.dart