[:page name="rootView" args="List<String> urls, String errorDescription, String presetUrl, String presetUsername"]
  [:dart]
  String nbsp = "\u{00A0}";
  [/dart]

  [:include "/webapp/view/templates/head.html" /]
  <div class="content">
    [:if errorDescription != null]
    <aside class="errorBar">
      <p>
        [= errorDescription]
      </p>
    </aside>
    [/if]

    <h1>
      Bakaláři
    </h1>
    <p>
      A tentokrát lépe.
    </p>

    <form class="pure-form" action="/student" method="POST">
      <fieldset>
        <legend>Přihlásit se (<a href="/privacy_policy">zpracování osobních údajů</a>)</legend>

        <input name="bakawebUrl" type="text" list="schoolUrls" placeholder="bakalari.ceskolipska.cz" [= presetUrl != null ? 'value="$presetUrl"' : '']" />
        <datalist id="schoolUrls">
          [:if urls != null]
          [:for url in urls]
          <option>[=url]</option>
          [/for]
          [/if]
        </datalist>
        <input name="login" type="text" placeholder="Uživatelské jméno" [= presetUsername != null ? 'value="$presetUsername"' : '']">
        <input name="password" type="password" placeholder="Heslo">

        <button type="submit" class="pure-button pure-button-primary">Přihlásit</button>
      </fieldset>
    </form>
  </div>

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('/offlineServiceWorker.js')
        .then(function () { console.log("Service Worker Registered"); });
    }
  </script>

  [:include "/webapp/view/templates/tail.html" /]