[:page name="rootView" args="List<String> urls, dynamic timetable, String errorDescription, String timetableOld"]
  [:dart]
  String nbsp = "\u{00A0}";
  [/dart]

  [:include "/webapp/view/templates/head.html" /]
  <div class="content">
    [:if errorDescription != null]
    <aside class="errorBar">
      <p>
        [= errorDescription]
      </p>
    </aside>
    [/if]

    <h1>
      Bakaláři
    </h1>
    <p>
      A tentokrát lépe.
    </p>

    <form class="pure-form" action="/student" method="POST">
      <fieldset>
        <legend>Přihlásit se (<a href="/privacy_policy">zpracování osobních údajů</a>)</legend>

        <input name="bakawebUrl" type="text" list="schoolUrls" placeholder="bakalari.ceskolipska.cz" />
        <datalist id="schoolUrls">
          [:if urls != null]
          [:for url in urls]
          <option>[=url]</option>
          [/for]
          [/if]
        </datalist>
        <input name="login" type="text" placeholder="Uživatelské jméno">
        <input name="password" type="password" placeholder="Heslo">

        <button type="submit" class="pure-button pure-button-primary">Přihlásit</button>
      </fieldset>
    </form>
  </div>
  <div class="content">
    <h1 class="content-subhead">Funkce</h1>
    <p>
      Cílem projektu <i>Bakaláři: a tentokrát lépe</i>
      je vytvořit webovou aplikaci, která by dokázala kompletně nahradit
      původní aplikaci Bakalářů, která je pomalá a na telefonech často
      téměř nepoužitelná.
    </p>
    <p>
      Aplikace už teď podporuje zobrazování rozvrhu, známek (včetně průměrů), úkolů,
      a přijatých zpráv. Další moduly budeme ještě přidávat.
    </p>
    <p>
      Všechny data cachujeme, takže vše vidíte přehledně na jednom místě - a rychle.
      I když zrovna nejste přihlášení, tak zde můžeme zobrazit rozvrh pro vaši třídu.
    </p>
    <h1 class="content-subhead">Rozvrh</h1>
    [:if timetable == null]
    <p>
      Jakmile se v tomto prohlížeči alespoň jednou přihlásíte,
      uvidíte zde aktuální rozvrh pro vaši třídu -
      i pokud zrovna nebudete přihlášeni.
    </p>
    [:else]
    [:if timetableOld != '']
    <p>
      [= timetableOld]
    </p>
    [/if]
    <table class="pure-table">
      <thead>
        <tr></tr>
        <tr>
          <th></th>
          [:for hour in timetable.times ]
          <th title="[= hour.beginTime ] - [= hour.endTime ]">
            [= hour.caption ]
          </th>
          [/for]
        </tr>
      </thead>
      <tbody>
        [:for day in timetable.days ]
        <tr>
          <th>[= day.shortName ]</th>
          [:for lessons in day.lessons]
          <td class="table-cell-small">
            [:for lesson in lessons]
            <div class="table-cell-standalone [= (lesson.change != null && lesson.change != '') ? 'lesson-change' : '']">
              <div class="table-cell-main">[= lesson.subjectShort ]</div>
              <span class="table-cell-secondary">[= lesson.teacherShort ][= (lesson.teacherShort == null
                || lesson.teacherShort == "" || lesson.classroom == null || lesson.classroom == "") ?
                '' : '$nbsp|$nbsp'][= lesson.classroom ]</span>
            </div>
            [/for]
          </td>
          [/for]
        </tr>
        [/for]
      </tbody>
    </table>
    [/if]
  </div>

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('/offlineServiceWorker.js')
        .then(function () { console.log("Service Worker Registered"); });
    }
  </script>

  [:include "/webapp/view/templates/tail.html" /]