[:page name="privacyPolicyView"]
[:include "webapp/view/head.html" /]
<div class="content">
  <h1>Ochrana osobních údajů</h1>
  <p>
    Přihlášením na web předáváte své přihlašovací údaje na zpracování tomuto serveru. Dlouhodobě jsou však uloženy
    pouze ve Vašem prohlížeči ve formě cookie, server k nim má přístup pouze po dobu zpracování Vašeho požadavku.
    Kliknutím na tlačítko odhlásit jsou údaje odstraňeny i z Vašeho prohlížeče.
  </p>
  <p>
    Dočasně ukládáme na serveru informace přijaté ze serveru, abychom je mohli průběžně zobrazovat a nemuseli jste
    při každém dalším načtení stránky znovu zadávat heslo.
  </p>
  <p>
    Zároveň zaznamenáváme informace o přístupu a využívání těchto webových stránek kvůli analýze
    návštěvnosti těchto webových stránek a způsobu jejich využívání.
  </p>
</div>
[:include "webapp/view/tail.html" /]