.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.errorBar{
    background: red;
    margin: 1em 0;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}

.table-cell-small{
    padding: 8px !important;
    padding-top: 4px !important;
}

.table-cell-main{
    text-align: center;
    margin-bottom: -0.5em;
}

.table-cell-secondary{
    font-size: 0.5em;
}

.lesson-change{
    background-color: rgb(208, 164, 226) !important;
}

.content-subhead{
    margin-top: 20px !important;
}


@media (min-width: 48em) {
    .footer {
        text-align: center;
    }
}