[:page name="refreshStudentInfoView" args="List<String> urls, String errorDescription, String presetUrl, String
    presetUsername"]
    [:include "/webapp/view/templates/studentHead.html" /]
    <div class="content">
        [:if errorDescription != null]
        <aside class="errorBar">
            <p>
                [= errorDescription]
            </p>
        </aside>
        [/if]

        <form class="pure-form" action="/student?refresh=1" method="POST">
            <fieldset>
                <legend>Obnovení údajů o studentovi (<a href="/privacy_policy">zpracování osobních údajů</a>)</legend>

                <label for="urlSelectField">Zadejte jméno školy nebo URL přihlašovací stránky</label>
                <input name="bakawebUrl" id="urlSelectField" type="text" placeholder="Českolipská" [=presetUrl !=null
                    ? 'value=$presetUrl' : '' ] />
                <div id="schoolList" class="schoolList">

                </div>
                <input name="login" type="text" placeholder="Uživatelské jméno" [=presetUsername !=null
                    ? 'value=$presetUsername' : '' ]>
                <input name="password" type="password" placeholder="Heslo">

                <button type="submit" class="pure-button pure-button-primary">Přihlásit</button>
            </fieldset>
        </form>
        <p>
            Po zadání přihlašovacích údajů do formuláře ze serverů školy stáhneme a zobrazíme nejnovější data.
        </p>
    </div>
  <script src="/js/selectSchoolFromList.js"></script>
  [:include "/webapp/view/templates/tail.html" /]