[:page name="studentView" args="String errorDescription, dynamic timetableRow, dynamic averages,
String lastRefresh,
String lastMailInfo, String urgentAbsence, String urgentHomeworks"]
[:include "/webapp/view/templates/studentHead.html" /]
<div class="content">
    [:if errorDescription != null]
    <aside class="errorBar">
        <p>
            [= errorDescription]
        </p>
    </aside>
    [/if]
    <noscript>
        <aside class="errorBar">
            <p>
                Nemáte zapnutý JavaScript, stránka tedy sama nenačítá
                přijaté informace. Můžete je načíst manuálně obnovením
                stránky (F5)
            </p>
        </aside>
    </noscript>
    <div id="failed-to-fetch-update" style="display: none">
        <aside class="errorBar">
            <p>
                Připojení k serveru školy proběhlo úspěšně, ale něco
                se nepodařilo načíst. Na této stránce se zobrazí vše,
                co se nám podařilo načíst. Pokud tento stav přetrvává,
                <a href="/contact">kontaktujte vývojáře</a>.
            </p>
        </aside>
    </div>
    [:if lastRefresh != null]
    <p style="text-align: center">
        To co vidíte na této stránce je [= lastRefresh] staré.
        <a href="/student/refresh"><button class="pure-button">Obnovit</button></a>
    </p>
    [/if]
    <div class="pure-g" id="main">
        <div class="pure-u-1 pure-u-md-1-2" id="timetable">
            [:if timetableRow == null]
            <h1 class="content-subhead">Rozvrh</h1>
            <p class="loader">
                Načítám rozvrh, za chvíli tady bude...
            </p>
            [:else]
            <h1 class="content-subhead">[= (timetableRow.date as DateTime).weekday == DateTime.now().weekday ? 'Dnes' :
                ((timetableRow.date.weekday - 1) - DateTime.now().weekday < 1 ? 'Zítra' : timetableRow.shortName) ]</h1>
                    <table class="pure-table">
                    <tbody>
                        [:for multipleLessons in timetableRow.lessons]
                        [:for lesson in multipleLessons]
                        <tr class="[= lesson.change != null && lesson.change != '' ? 'lesson-change' : '']">
                            <td>
                                [= lesson.lessonTime.caption]
                            </td>
                            [:if lesson.isSet != null && lesson.isSet]
                            <td>
                                [= lesson.subjectLong] ([= lesson.teacherShort])
                            </td>
                            <td>
                                [= lesson.classroom]
                            </td>
                            [:else]
                            <td></td>
                            <td></td>
                            [/if]
                        </tr>
                        [/for]
                        [/for]
                    </tbody>
                    </table>
                    [/if]
        </div>
        <div class="pure-u-1 pure-u-md-1-2" id="grades">
            <h1 class="content-subhead">Průměry</h1>
            [:if averages == null]
            <p class="loader">
                Načítám známky, za chvíli to bude...
            </p>
            [:else]
            <table class="pure-table">
                <tbody>
                    [:for subject in averages.keys]
                    <tr>
                        <td>
                            <a href="/student/subject/[= subject]">[= subject]</a>
                        </td>
                        <td>
                            [= averages[subject].toStringAsPrecision(3)]
                        </td>
                    </tr>
                    [/for]
                </tbody>
            </table>
            [/if]
        </div>
        <div class="pure-u-1 pure-u-md-1" id="otherModules">
            <h1 class="content-subhead">Ostatní</h1>
            <ul>
                <li>
                    <a href="/student/timetable">Rozvrh</a>
                </li>
                <li>
                    Přehled zpráv
                    [= lastMailInfo == null ? '' : '(poslední zpráva $lastMailInfo)' ]
                </li>
                <li>
                    Přehled absencí
                    [= urgentAbsence == null ? '' : urgentAbsence]
                </li>
                <li>
                    Přehled domácích úkolů
                    [= urgentHomeworks == null ? '' : urgentHomeworks ]
                </li>
                <hr />
                <li>
                    <a href="/student/refresh">Načíst nejnovější data</a>
                </li>
                <li>
                    <a href="/logout">Odhlásit se</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/offlineServiceWorker.js')
            .then(function () { console.log("Service Worker Registered"); });
    }
</script>
<script src="../../js/studentRefresh.js"></script>
[:include "/webapp/view/templates/tail.html" /]