[:page name="studentView" args="String errorDescription, dynamic timetable, dynamic permTimetable, dynamic averages,
String lastRefresh,
String lastMailInfo, String urgentAbsence, String urgentHomeworks"]
[:include "/webapp/view/templates/head.html" /]
[:dart]
String nbsp = "\u{00A0}";
[/dart]
<div class="content">
    [:if errorDescription != null]
    <aside class="errorBar">
        <p>
            [= errorDescription]
        </p>
    </aside>
    [/if]
    <noscript>
        <aside class="errorBar">
            <p>
                Nemáte zapnutý JavaScript, stránka tedy sama nenačítá
                přijaté informace. Můžete je načíst manuálně obnovením
                stránky (<span style="background-color: lightgray">F5</span>)
            </p>
        </aside>
    </noscript>
    <div class="pure-g" id="main">
        <div class="pure-u-1 pure-u-md-1-4" id="znamky">
            <h1 class="content-subhead">Průměry</h1>
            [:if averages == null]
            <p>
                Načítám známky, za chvíli to bude...
            </p>
            [:else]
            <table class="pure-table">
                <tbody>
                    [:for subject in averages.keys]
                    <tr>
                        <td>
                            <a href="/student/subject/[= subject]">[= subject]</a>
                        </td>
                        <td>
                            [= averages[subject].toStringAsPrecision(3)]
                        </td>
                    </tr>
                    [/for]
                </tbody>
            </table>
            [/if]
        </div>
        <div class="pure-u-1 pure-u-md-2-3" id="rozvrh">
            <h1 class="content-subhead">Rozvrh</h1>
            [:if timetable == null]
            <p>
                Načítám rozvrh, za chvíli tady bude...
            </p>
            [:else]
            [:if timetable != null && permTimetable != null ]
            <button id="butSwitchTimetableToToday" class="pure-button pure-button-primary button-switch" toggleon="tabletoday"
                toggleoff="tableperm" oppButton="butSwitchTimetableToPerm">Dnešní</button>
            <button id="butSwitchTimetableToPerm" class="pure-button button-switch" toggleon="tableperm" toggleoff="tabletoday"
                oppButton="butSwitchTimetableToToday">Stálý</button>
            [/if]
            <table class="pure-table" id="tabletoday">
                <thead>
                    <tr></tr>
                    <tr>
                        <th></th>
                        [:for hour in timetable.times ]
                        <th title="[= hour.beginTime ] - [= hour.endTime ]">
                            [= hour.caption ]
                        </th>
                        [/for]
                    </tr>
                </thead>
                <tbody>
                    [:for day in timetable.days ]
                    <tr>
                        <th>[= day.shortName ]</th>
                        [:for lessons in day.lessons]
                        <td class="table-cell-small">
                            [:for lesson in lessons]
                            <div class="table-cell-standalone [= (lesson.change != null && lesson.change != '') ? 'lesson-change' : '']">
                                <div class="table-cell-main">[= lesson.subjectShort ]</div>
                                <span class="table-cell-secondary">[= lesson.teacherShort ][= (lesson.teacherShort ==
                                    null
                                    || lesson.teacherShort == "" || lesson.classroom == null || lesson.classroom == "")
                                    ?
                                    '' : '$nbsp|$nbsp'][= lesson.classroom ]</span>
                            </div>
                            [/for]
                        </td>
                        [/for]
                    </tr>
                    [/for]
                </tbody>
            </table>
            [:if permTimetable != null]
            <table class="pure-table" id="tableperm" style="display: none;">
                <thead>
                    <tr></tr>
                    <tr>
                        <th></th>
                        [:for hour in permTimetable.times ]
                        <th title="[= hour.beginTime ] - [= hour.endTime ]">
                            [= hour.caption ]
                        </th>
                        [/for]
                    </tr>
                </thead>
                <tbody>
                    [:for day in permTimetable.days ]
                    <tr>
                        <th>[= day.shortName ]</th>
                        [:for lessons in day.lessons]
                        <td class="table-cell-small">
                            [:for lesson in lessons]
                            <div class="table-cell-standalone [= (lesson.change != null && lesson.change != '') ? 'lesson-change' : '']">
                                <div class="table-cell-main">[= lesson.subjectShort ]</div>
                                <span class="table-cell-secondary">[= lesson.teacherShort ][= (lesson.teacherShort ==
                                    null
                                    || lesson.teacherShort == "" || lesson.classroom == null || lesson.classroom == "")
                                    ?
                                    '' : '$nbsp|$nbsp'][= lesson.classroom ]</span>
                            </div>
                            [/for]
                        </td>
                        [/for]
                    </tr>
                    [/for]
                </tbody>
            </table>
            [/if]
            [/if]
            <div class="pure-u-1 pure-u-md-1-2" id="otherModules">
                <h1 class="content-subhead">Ostatní moduly</h1>
                <ul>
                    <li>
                        <a href="/student/grade">Přehled všech známek</a>
                    </li>
                    <li>
                        <a href="/student/message">Přehled zpráv</a>
                        [= lastMailInfo == null ? '' : '(poslední zpráva $lastMailInfo)' ]
                    </li>
                    <li>
                        <a href="/student/absention">Přehled absencí</a>
                        [= urgentAbsence == null ? '' : urgentAbsence]
                    </li>
                    <li>
                        <a href="/student/homework">Přehled domácích úkolů</a>
                        [= urgentHomeworks == null ? '' : urgentHomeworks ]
                    </li>
                    <li>
                        <a href="/student/subject">Přehled předmětů</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
[:if lastRefresh != null]
<p style="text-align: center">
    To co vidíte na této stránce je [= lastRefresh] staré.
    <a href="/refresh"><button class="pure-button">Obnovit</button></a>
</p>
[/if]

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/offlineServiceWorker.js')
            .then(function () { console.log("Service Worker Registered"); });
    }
</script>
<script src="../../js/buttonSwitch.js"></script>
<script src="../../js/studentRefresh.js"></script>
[:include "/webapp/view/templates/tail.html" /]