[:page name="subjectDetailsView" args="dynamic subject, dynamic grades, String prumer"]
[:include "/webapp/view/templates/head.html" /]

<div class="content">
  <noscript>
    <p>
      Zapněte JavaScript pro
      kalkulaci průměru
    </p>
  </noscript>
  <h1>[= subject.subjectLong ]</h1>
  <a href="javascript:window.history.go(-1);">Zpět</a>
  <p>[= subject.teacherName] ([= subject.teacherEmail])</p>
  [:if grades != null]
  <h2>Průměr: [= prumer]</h2>
  <table class="grades-table">
    <tr>
      <th>Datum</th>
      <th>Titulek</th>
      <th>Známka</th>
      <th>Váha</th>
    </tr>
  [:for grade in grades]
  <tr class="grades">
    <td>[=grade.date.day]. [=grade.date.month]</td>
    <td>[=grade.caption]</td>
    <td name="value">[= grade.numericValue == null ? grade.value : (grade.numericValue.round() == grade.numericValue ? grade.numericValue.toInt() : grade.numericValue.floor().toString() + '-')]</td>
    <td name="weight">[=grade.weight]</td>
  </tr>
  [/for]
  </table>
  <form class="pure-form">
    <fieldset>
      <label for="new-grade">Známka</label>
      <input name="new-grade" id="new-grade" type="text" placeholder="2-" autocomplete="off" onkeyup="updateSubjectAverage();">
      <label for="new-weight">Váha</label>
      <input name="new-weight" id="new-weight" type="number" value="4" autocomplete="off" min="1" max="12" onchange="updateSubjectAverage();">
    </fieldset>
  </form>
  <p id="average"></p>
  [/if]
</div>

<script src="/js/subjectDetails.js"></script>
[:include "/webapp/view/templates/tail.html" /]