[:page name="subjectListView" args="List<dynamic> subjects, Map<String, double> grades, List<dynamic> absences"]
[:include "/webapp/view/templates/head.html" /]
<div class="content">
    <h1 class="content-subhead">Předměty</h1>
    [:for subject in subjects]
    [:dart]
    var grade = null;
    if(grades != null)
        grade = grades[subject.subjectLong];
    [/dart]
    <div class="listDiv">
        <h2><a href="/student/subject/[= subject.subjectShort]">[= subject.subjectLong ]</a></h2>
        <p>
            [= subject.teacherName ] ([= subject.teacherEmail])
        </p>
        <br />
        <p>
            <strong>
            [:if grade != null]
            [=grade.toStringAsFixed(2)]
            [/if]
            </strong>
        </p>
        <p>
        </p>
    </div>
    [/for]
</div>
[:include "/webapp/view/templates/tail.html" /]