[:page name="adminMessageView" args="dynamic message"]
[:include "/webapp/view/templates/adminHead.html" /]
<div class="content">
    <h1>[= message.subject]</h1>
    <table>
        <tr>
            [:if message.isImportant]
            <td style="color: red;">
                IMPORTANT!
            </td>
            [/if]
            <td>[= DateTime.now().difference(message.sent).inHours]h ago</td>
            <td>
                [= message.tag]
            </td>
        </tr>
    </table>
    <p>
        [= message.getMarkdownInHtml(), encode: 'none']
    </p>
    <hr />
    <p>
        [:if message.email != '']
        <a href="mailto: [= message.email]">[= message.email]</a>
        [/if]
    </p>
    [:if !message.isClosed]
    <form class="pure-form" action="/admin/message/markAsRead/[= message.guid]" method="POST">
        <button type="submit" class="pure-button pure-button-primary">Mark as solved</button>
    </form>
    [/if]
    <a href="/admin/message">Back</a>
</div>
</div>
[:include "/webapp/view/templates/tail.html" /]