<!DOCTYPE html>
<html lang="cs">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Webová aplikace nahrazující oficiální webovou aplikaci Bakaláři (Bakaweb).">
    <meta charset="utf-8">
    <title>Bakaláři</title>

    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/pure-sidemenu.css">
    <link rel="stylesheet" href="/css/pure-grids-responsive-min.css">
    <link rel="stylesheet" href="/css/pure-custom.css">
    <link rel="stylesheet" href="/css/google-material-design-icons.css">
</head>

<body>
    <div id="layout">
        <div id="mobileMenu">
            <!-- Menu with just the most important links in form of icons -->
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/" class="pure-menu-link"><i class="material-icons">home</i></a></li>
                    <li class="pure-menu-item"><a href="/student/timetable" class="pure-menu-link"><i class="material-icons">today</i></a></li>
                    <li class="pure-menu-item"><a href="/logout" class="pure-menu-link"><img src="/other/signout-icon.png" class="material-icon-image"/></a></li>
                </ul>
            </div>
        </div>
        <div id="menu">
            <div class="pure-menu">
                <a class="pure-menu-heading" href="/">Bakaláři</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/" class="pure-menu-link">Domů</a></li>
                    <li class="pure-menu-item"><a href="/student/timetable" class="pure-menu-link">Rozvrh</a></li>
                    <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Odhlásit se</a></li>
                    <hr />
                    <li class="pure-menu-item"><a href="/api" class="pure-menu-link">API</a></li>
                    <li class="pure-name-item"><a href="/contact" class="pure-menu-link">Kontakt</a></li>
                </ul>
            </div>
        </div>