<div class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item"><a href="https://purecss.io/" target="_blank" class="pure-menu-link">PureCSS</a>
            </li>
            <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Petr
                    Šťastný</a></li>
            <li class="pure-menu-item"><a href="https://github.com/SoptikHa2/bakalari_webapp" target="_blank"
                    class="pure-menu-link">GitHub</a></li>
            <li class="pure-menu-item"><a href="/tor" class="pure-menu-link"><img src="/other/onion-icon.png"
                        class="material-icon-image tail-icon-image" alt="Tor" /></a></li>
        </ul>
    </div>
</div>
</div>
<script src="/js/serviceWorkerRegister.js"></script>
<script>
    console.log('/lubos');
</script>
<script>
    // Add this document to cache
    window.caches.open('bakalari').then(function (cache) {
        cache.add(document.URL);
    });
</script>
</body>

</html>