<div class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item"><a href="https://purecss.io/" target="_blank" class="pure-menu-link">PureCSS</a></li>
            <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Petr
                    Šťastný</a></li>
            <li class="pure-menu-item"><a href="https://github.com/SoptikHa2/bakalari" target="_blank" class="pure-menu-link">GitHub</a></li>
        </ul>
    </div>
</div>
</div>
<script src="/js/ui.js"></script>
<script src="/js/serviceWorkerRegister.js"></script>
<script>
console.log('/lubos');
</script>
</body>

</html>