[:page name="contactView" args="bool showSuccMessage, String errorMessage"]
[:include "/webapp/view/templates/head.html" /]

[:if showSuccMessage]
<div class="successBar">
    <p>Zpráva byla odeslána!</p>
</div>
[/if]
[:if errorMessage != null]
<div class="errorBar">
    <p>[= errorMessage]</p>
</div>
[/if]

<div class="content">
    <h1>Kontakt</h1>
    <p>
        Je možné mě kontaktovat pomocí následujícího formuláře.
        Pokud to bude potřeba, pošlu vám zpátky odpověď emailem.
    </p>
    <form class="pure-form" action="/contact" method="POST">
        <fieldset>
            <legend><a href="/privacy_policy">Zpracování osobních údajů</a></legend>

            <label for="subject">Nadpis *</label>
            <input type="text" id="subject" name="subject" required>
            <br />

            <label for="type">Typ zprávy *</label>
            <select type="text" id="type" name="messageType" required>
                <option value="bug">Nahlášení chyby</option>
                <option value="featureRequest">Návrh na novou funkci</option>
                <option value="featureRequest">Ostatní</option>
            </select>
            <br />

            <label for="important">Je to důležité!</label>
            <input type="checkbox" id="important" name="isMessageImportant">
            <br />

            <label for="body" required>Zpráva *</label>
            <textarea id="body" name="messageBody"></textarea>
            <br />

            <label for="email">Email</label>
            <input type="email" id="email" name="email">
            <br />

            <button type="submit" class="pure-button pure-button-primary">Odeslat</button>
        </fieldset>
    </form>
    <p>
        Po zaškrtnutí políčka "Je to důležité!" se pokusím zprávu vyřešit co nejdříve.
    </p>
    <p>
        Používejte toto políčko pouze když je to opravdu nutné, například
        když objevíte na webu zranitelnost.
    </p>
    <p>
        Email je potřeba vyplnit pouze pokud očekáváte odpověď. Je nutné
        ho vyplnit pokud označíte zprávu jako důležitou.
    </p>
</div>
[:include "/webapp/view/templates/tail.html" /]