[:page name="privacyPolicyView" import="../../config.dart, ../../tools/tools.dart"]
[:include "/webapp/view/templates/head.html" /]

[!-- Prepare string units for privacy policy --]
[:dart]
var sessionCookieLength = Tools.daysToStringWithUnit(Config.daysHowLongIsSessionCookieStored);
var classCookieLength = Tools.daysToStringWithUnit(Config.daysHowLongIsClassIdentifierCookieStored);
[/dart]

<div class="content">
  <h1>Ochrana osobních údajů a cookies</h1>
  <p>
    Přihlášením na web předáváte své přihlašovací údaje na zpracování tomuto serveru. Server k nim má přístup pouze po
    dobu zpracování Vašeho požadavku.
  </p>
  <p>
    Dočasně ukládáme na serveru informace přijaté ze serveru školy, abychom je mohli průběžně zobrazovat. Přístupový
    kód k těmto údajům ukládáme ve vašem prohlížeči v souboru cookie. Tento přístupový kód
    bude ve vašem prohlížeči uložen [= sessionCookieLength] nebo dokud se neodhlásíte. Údaje přijaté ze stránek školy
    po stejné době mažeme.
  </p>
  <p>
    Po přihlášení uložíme do vašeho prohlížeče URI bakalářů vaší školy, takže nemusíte při každém přihlášení
    znovu vybírat vaši školu. tato informace bude po každém novém přihlášení uložena na [= classCookieLength].
  </p>
  <p>
    Zároveň zaznamenáváme informace o přístupu k těmto webovým stránkám kvůli analýze návštěvnosti a tvorbě
    hezkých barevných grafů.
  </p>
</div>
[:include "/webapp/view/templates/tail.html" /]